# Node environment
NODE_ENV=dev

# Express host
HOST=127.0.0.1

# Express port
PORT=3000

# Workers' results queue prefix
QUEUE_RESULTS_PREFIX=queue_results:

# Queue timeout for blocking Redis client commands in seconds
# Example: BRPOP(key, timeout) returns null if coudn't pop in a timeout period.
QUEUE_TIMEOUT=10

# Registry API url 
REGISTRY_API_URL=http://localhost:3000/api

# Maximum number of concurrent tasks pushes for zoneCheck worker
ZONECHECK_CONCURRENT_MAX = 1
