:root {
  --primaryColor: #000;
  --secondaryColor: #9b9b9b;
  --borderColor: #e6e6e6;
}

* {
  box-sizing: border-box;
}

html {
  font-family: system-ui, sans-serif;
  margin: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

.wrapper {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.search-box {
  position: relative;
  max-width: 500px;

  &__label {
    display: block;
    font-size: 16px;
    color: var(--secondaryColor);
    padding-left: 18px;
    padding-bottom: 16px;
  }

  &__input {
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    padding: 12px 45px 12px 17px;
    border-radius: 3px;
    border: 1px solid var(--borderColor);
    outline: none;
  }

  &--loading::after {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    bottom: 15px;
    right: 17px;
    border: 2px solid var(--secondaryColor);
    border-top-color: var(--primaryColor);
    border-radius: 50%;
    animation: rotating 0.6s infinite linear;
  }
}

@keyframes rotating {
  100% {
    transform: rotate(360deg);
  }
}

.results {
  font-size: 20px;
  margin-top: 10px;
  padding-left: 18px;

  &__result {
    line-height: 2.3;
  }

  &__domain-name {
    color: var(--secondaryColor);
  }
}
