html,
body {
    font-family: sans-serif;
    margin: 0;
}

body {
    min-width: 250px;
    max-width: 500px;
    box-sizing: border-box;
    width: 50%;
    padding: 10px;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
}

.wrapper {
    width: 100%;
    position: absolute;
    top: 40%;
}

.wrapper > * {
    width: 100%;
    padding-bottom: 10px;
}

#search-wrapper {
    display: flex;
    align-items: center;
}

label {
    display: block;
    padding-left: 10px;
    font-size: 0.9em;
    color: #9b9b9b;
}

#search-input {
    font-weight: bold;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    outline: none;
    flex-grow: 1;
}

#status {
    padding-left: 10px;
    font-size: 0.9em;
    color: #9b9b9b;
}

.results-domain-name {
    color: #9b9b9b;
}

#search-input:hover {
    border-color: #cdcdcd;
}

.list {
    float: left;
    height: 100%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.list div {
    width: 100%;
    margin-bottom: 15px;
}
